/* banner (pag inicio.php) */

.banner{
    padding: 50px 0px;
}

.secao{
    margin: 0px;
    padding: 0px;
}
.painel{
    text-decoration: none;
}
.finans{
    font-size: 50px;
}
.dash{
    background: rgba(0, 0, 0, 0.014);
    margin-bottom: 20px;
    border-radius: 20px;
}
.logout{
    text-align: right;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}


@media (max-width: 540px) {
    .faturamento{
        padding-top: 12px;
        width: 350px;
        text-align: center;
    }
    .ajuste{
        margin-left: 15px;
    }
  }
